.ande-container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
@media(max-width: 600px){
	.ande-timing .ande-container{
		padding: 0;
	}
}
.ande-header {
	background-image: url('../minimg/bitrix24/banner.jpg');
	height: 530px;
	max-height: 530px;
	background-repeat: no-repeat;
	text-align: center;
	border-bottom: 2px solid #f57c00;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2{
		font-size: 80px;
		line-height: 80px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0;
		text-align: center;
		margin: 0;
		@media(max-width: 1200px){
			font-size: 60px;
			line-height: 65px;
		}
		@media(max-width: 660px) {
			font-size: 29px;
            line-height: 32px;
		}
		span{
			font-size: 24px;
			display: block;
			line-height: 30px;
    		margin-top: 10px;
			@media(max-width: 1200px){
				font-size: 20px;
				line-height: 35px;
			}
			@media(max-width: 660px) {
				font-size: 14px;
    			line-height: 18px;
			}
		}
	}
	@media(max-width: 660px){
	    align-items: flex-start;
	    flex-direction: row;
        padding-top: 40px;
	    height: 310px;
	}
}

.ande-head-icon{
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	bottom: 45px;
	height: 32px;
}

.bitrx24-info{
	padding-top: 100px;
	background: url(../minimg/bitrix24/bitrix24infobg.jpg) center top;
	background-size: cover;
	@media(max-width: 1125px){
		padding-top: 30px;
	}
}

.bitrix24-info-row{
	display: flex;
	flex-wrap: wrap;
}

.bitrix24-info-item{
	flex: 0 0 50%;
	padding: 0 15px;
	h2{
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 5px;
		color: #fff;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		color: #ffffff;
	}
	strong{
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		display: block;
		margin-top: 30px;
		padding-left: 25px;
	}
	img{
		max-width: 100%;
	}
	&:first-child{
		padding-bottom: 100px;
	}
	&:last-child{
		margin-bottom: -100px;
	}
	@media(max-width: 1125px){
		flex: 0 0 100%;
		&:first-child{
			padding-bottom: 30px;
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
	@media(max-width: 500px){
		&:last-child{
			margin-bottom: -50px;
		}
		strong{
			margin-top: 15px;
			font-size: 18px;
		    font-weight: 700;
		    line-height: 24px;
		    padding-left: 15px;
		}
	}
}


.bitrx24-tele{
	padding-top: 200px;
	padding-bottom: 100px;
	@media(max-width: 930px){
		padding-top: 100px;
		padding-bottom: 30px;
	}
}
.bitrx24-tele-row{
	display: flex;
	flex-wrap: wrap;
}
.bitrx24-tele-item{
	flex: 0 0 50%;
	padding: 0 15px;
	h2{
		color: #263139;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	p{
		color: #7f8890;
		font-size: 16px;
		font-weight: 300;
	}
	strong{
		color: #7f8890;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		border-left: 3px solid #ffb100;
		display: block;
		padding-left: 25px;
		margin: 25px 0;
	}
	img{
		max-width: 100%;
	}
	a{
		display: block;
	}
	&:first-child{
		padding-top: 70px;
	}
	@media(max-width: 930px){
		flex: 0 0 100%;
		&:first-child{
			padding-top: 0;
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
	@media(max-width: 600px){
		h2{
			font-size: 30px;
			line-height: 33px;
			margin-bottom: 30px;
		}
		strong{
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.bitrix24-text{
	padding-top: 92px;
	padding-bottom: 69px;
	background-color: #f1f4f9;
	@media(max-width: 700px){
		padding-top: 30px;
		padding-bottom: 30px;
	}
}


.bitrix24-text-row{
	display: flex;
	flex-wrap: wrap;
}
.bitrix24-text-item{
	flex: 0 0 50%;
	padding: 0 15px;
	h2{
		color: #263139;
		font-size: 40px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 50px;
		span{
			display: block;
			font-size: 20px;
			line-height: 30px;
		}
	}
	p{
		color: #7f8890;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	@media(max-width: 700px){
		flex: 0 0 100%;
		width: 100%;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		h2{
			font-size: 18px;
    		line-height: 27px;
			span{
				font-size: 15px;
			}
		}
		p{
			font-size: 15px;
		}
	}
}

.bitrix24-slider{
	background-color: #f1f4f9;
	padding-bottom: 100px;
	.inner{
		padding: 0 15px;
	}
	.owl-nav{
		*{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 41px;
			height: 41px;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAYAAABcUvyWAAAAMklEQVQoU2NkwAL+AwEjujhIECSGIgETRJFAFoRLoAuCJbAJ4tcBcxVWO7BJEucPZJ0Aa2Qr4DYGNOUAAAAASUVORK5CYII=);
			background-position: center;
			background-repeat: no-repeat;
			background-color: #ff8a00;
			font-size: 0;
			border-radius: 100%;
			opacity: 0.7;
			transition: .2s all;
			&:hover,&:focus{
				opacity: 1;
			}
		}
	}
	.owl-prev{
		left: 0;
	}
	.owl-next{
		right: 0;
		transform: translateY(-50%) rotate(180deg);
	}
	.owl-item{
		div{
			padding: 30px;
		}
		img{
			box-shadow: 0 10px 30px rgba(127, 136, 144, 0.3);
		}
	}
	@media(max-width: 700px){
		padding-bottom: 30px;
	}
}

.bitrix24-slider-block{
	padding: 0 63px;
	position: relative;
	a{
		display: block;
	}
	@media(max-width: 700px){
		padding: 0 20px;
	}
}

.bitrix24-use{
	padding: 100px 0;
	@media(max-width: 700px){
		padding: 30px 0;
	}
}

.bitrix24-use-row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.bitrix24-use-item{
	flex: 0 0 50%;
	padding: 0 30px;
	img{
		max-width: 100%;
	}
	h2{
		color: #263139;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	p{
		color: #7f8890;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 49px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	@media(max-width: 900px){
		flex: 0 0 100%;
		margin-bottom: 30px;
		padding: 0 15px;
		&:last-child{
			margin-bottom: 0;
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
	@media(max-width: 700px){
		h2{
			font-size: 24px;
			line-height: 31px;
			margin-bottom: 20px;
		}
	}
}

.bitrix24-tab{
	display: none;
	&.quest-active-tab{
		display: block;
	}
}
.bitrix24-tabs{
	background: url(../minimg/bitrix24/bitrix24-tabs.jpg);
	padding-top: 100px;
	margin-bottom: -403px;
	@media(max-width: 1200px){
		margin-bottom: 0;
		padding-top: 0;
	}
}
.bitrix24-tab{
	border: 1px solid #e1e1e1;
	border-top: 0;
	background-color: #ffffff;
	padding: 50px 15px;
	margin-top: 0;
	@media(max-width: 740px){
		padding: 25px 0px;
	}
}
.bitrix24-tab-row{
	display: flex;
	flex-wrap: wrap;
}
.bitrix24-tab-item{
	flex: 1;
	padding: 0 15px;
	color: #7f8890;
	font-size: 16px;
	font-weight: 300;
	img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
		border: 1px solid #e1e1e1;
	}
	h2{
		color: #263139;
		font-size: 30px;
		line-height: 32px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
		strong{
			color: #263139;
			font-weight: 700;
		}
	}
	li{
		padding-left: 40px;
		margin-bottom: 20px;
		position: relative;
		&:before{
			width: 10px;
			height: 10px;
			border: 2px solid #ffb100;
			background-color: #fff;
			content: "";
			position: absolute;
			border-radius: 100%;
			left: 0;
			top: 7px;
		}
	}
	@media(max-width: 700px){
		flex: 0 0 100%;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
		h2{
			font-size: 28px;
		}
	}
}
.bitrix24-tab-btn{
	border-radius: 1000px;
	background-color: #ff8a00;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
    text-transform: uppercase;
    padding: 15px 28px;
	display: block;
	max-width: 510px;
	margin: 30px auto 0px;
	transition: .2s all;
	text-align: center;
	&:hover,&:focus{
		background-color: lighten(#ff8a00, 5);
		color: #fff;
	}
}
.bitrix24-tab-row2{
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
	background-color: #f2f4f9;
	margin-top: 25px;
	@media(max-width: 740px){
		padding: 15px;
	}
}
.bitrix24-tab-item2{
	flex: 1;
	padding: 0 45px;
	h3{
		letter-spacing: 0;
		color: #ff8a00;
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 30px;
		span{
			font-size: 16px;
			font-weight: 400;
			display: block;
			color: #263139;
			text-transform: none;
			margin-top: 10px;
		}
	}
	@media(max-width: 870px){
		padding: 0px;
	}
	@media(max-width: 740px){
		flex: 0 0 100%;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.bitirx24-tab-option{
	color: #263139;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px dashed #b0abb3;
	margin: 0 -5px 26px;
	&:last-child{
		margin-bottom: 0;
	}
	div{
		max-width: 58%;
		margin-bottom: -1px;
	    background: #f2f4f9;
	    padding: 0 5px;
		&:last-child{
			color: #263139;
			font-size: 16px;
			font-weight: 700;
			line-height: 18px;
		}
	}
}
.bitrix24-tabs-links{
	display: flex;
	flex-wrap: wrap;
}
.bitrix24-tab-link{
	flex: 1;
	border: 1px solid #e1e1e1;
	border-right: 0;
	padding: 23px 105px;
	&:last-child{
		border-right: 1px solid #e1e1e1;
	}
	background-color: #f2f4f9;
	color: #7f8890;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	&:hover, &:focus{
		color: #7f8890;
	}
	&.quest-active-a{
		background-color: #ffffff;
		border-bottom: 1px solid #fff;
	}
	@media(max-width: 1100px){
		padding: 23px;
	}
	@media(max-width: 565px){
		font-style: 13px;
		padding: 7px 5px;
	}
}
.bitrix24-integ{
	background-color: #3a3d4b;
	padding-top: 503px;
	margin-bottom: -100px;
	@media(max-width: 1200px){
		padding-top: 30px;
		margin-bottom: 0;
	}
}
.bitrix24-integ-row{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	& > *{
		flex: 1;
	}
	h2{
		max-width: 390px;
		padding: 0 15px;
		color: #ffffff;
		font-size: 50px;
		font-weight: 700;
		line-height: 50px;
		text-transform: uppercase;
		margin-top: 62px;
		margin-right: -(430px-362px);
		position: relative;
		&:after{
			width: 100px;
			height: 3px;
			background-color: #ffc527;
			display: block;
			content: "";
			margin-top: 24px;
		}
	}
	div{
		flex: 0 0 36%;
		border-radius: 10px;
		overflow: hidden;
		img{
			height: auto;
			max-width: 100%;
		}
	}
	p{
		padding-top: 60px;
		padding-bottom: 30px;
		padding-right: 15px;
		padding-left: 69px;
		color: #b0abb3;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}

	@media(max-width: 1100px){
		p{
			padding-left: 30px;
		}
	}
	@media(max-width: 1002px){
		justify-content: center;
		p{
			flex: 0 0 100%;
			padding-left: 15px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	@media(max-width: 600px){
		h2{
			margin-top: 0;
			font-size: 30px;
			line-height: 32px;
			flex: 0 0 100%;
			width: 100%;
			max-width: unset;
			margin-right: 0;
			&:after{
				margin-top: 10px;
			}
		}
		div{
			display: none;
		}
	}
}
.ande-modul-price{
	background-image: url('../minimg/1ccrm/ande-module-bg.jpg');
	padding-top: 170px;
	padding-bottom: 60px;
	background-position: center;
	background-size: cover;
	@media(max-width: 1200px){
		padding-top: 70px;
	}
	@media(max-width: 900px){
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.ande-modul-text{
	p{
		color: #000000;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		@media(max-width: 600px){
			font-size: 22px;
			line-height: 26px;
		}
	}
	span{
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		color: #000;
		text-align: center;
		display: block;
		padding: 0;
		margin: 0;
		@media(max-width: 800px){
			font-size: 40px;
			line-height: 50px;
		}
		@media(max-width: 600px){
			font-size: 32px;
			line-height: 40px;
		}
	}
}


.ande-timing{
	padding: 100px 0;
	padding-top: 168px;
	@media(max-width: 1200px){
	    padding-bottom: 30px;
	    padding-top: 120px;
	}
	@media(max-width: 750px){
	   padding-bottom: 0;
	   padding-top: 105px;
	}
	@media(max-width: 370px){
	    padding-top: 30px;
	}
}

.ande-timing-inner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media(max-width: 1100px){
		flex-direction: column;
		align-items: center;
	}
}

.ande-timing-head{
	width: 25%;
	position: relative;
	z-index: 2;
	@media(max-width: 1100px){
		width: 100%;
	}
	h2{
		color: #263139;
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		margin: 0;
		@media(max-width: 1100px){
			text-align: center;
			margin-bottom: 30px;
		}
		@media(max-width: 600px){
			font-size: 28px;
			line-height: 32px;
		}
		@media(max-width: 370px){
		    margin-bottom: -35px;
		}
	}
}

.ande-timing-line{
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	@media(max-width: 1100px){
		width: 90%;
	}
	@media(max-width: 900px){
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	@media(max-width: 626px){
	    align-items: stretch;
	}
}

.ande-timing-block{
	width: 33%;
	min-height: 327px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1000;
	background-image: url('../minimg/1ccrm/ande-timing1.png');
	background-position: center;
	background-size: 100% 120%;
	@media(max-width: 900px){
		margin-bottom: 30px;
	}
	&:nth-child(2){
		background-image: url('../minimg/1ccrm/ande-timing2.png');
	}
	&:last-child{
		background-image: url('../minimg/1ccrm/ande-timing3.png');
	}
	@media(max-width: 626px){
        margin-bottom: 0;
	    flex-direction: row;
	    align-items: stretch;
	    min-height: unset;
	}
	@media(max-width: 428px){
	    background-size: 100% 91%;
	}
	@media(max-width: 370px){
	    background-size: 100% 98%;
	}
}

.ande-timing-text{
	z-index: 1000;
	text-align: center;
	padding-top: 70px;
	width: 100%;
	span{
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 55px;
		display: block;
		strong{
			font-size: 40px;
			display: block;
			margin-bottom: 10px;
		}
	}
	p{
		color: #7f8890;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		padding: 0 15%;
		margin: 0;
	}
	@media(max-width: 626px){
	    padding-top: 40px;
	    span{
	        margin-bottom: 20px;
	    }
	    p{
	       font-size: 14px;
	       line-height: 18px;
	       padding-bottom: 25px;
	    }
	}
	@media(max-width: 500px){
	    padding-top: 60px;
	    span{
	        margin-bottom: 50px;
	    }
	}



	@media(max-width: 466px){
	    p{
	        font-size: 13px;
	    }
	}

	@media(max-width: 428px){
	    padding-top: 65px;
	    p{
	        font-size: 12px;
	        padding: 0 11%;
	        padding-bottom: 40px;
	    }
	    span{
	        margin-bottom: 20px;
	    }
	}
	@media(max-width: 370px){
	    padding-top: 96px;
	    span{
	        font-size: 14px;
            line-height: 13px;
            margin-bottom: 41px;
	        strong{
	            font-size: 25px;
	        }
	    }
	}
}

.ande-integration{
	padding: 100px 0;
	background-color: #384150;
	@media(max-width: 1200px){
		padding: 50px 0;
	}
	@media(max-width: 900px){
		padding: 30px 0;
	}
}

.ande-integration-h2{
	padding: 0 15px;
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 90px;
	@media(max-width: 1200px){
		margin-bottom: 60px;
	}
	@media(max-width: 900px){
		margin-bottom: 30px;
		font-size: 36px;
		line-height: 46px;
	}
	@media(max-width: 500px){
		font-size: 26px;
		line-height: 38px;
	}
}

.ande-integration-inner{
	max-width: 1230px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media(max-width: 860px){
		flex-direction: column;
		align-items: center;
	}
}

.ande-integ-block{
	flex: 1;
	padding: 0 15px;
	@media(max-width: 860px){
		flex: 0 0 100%;
		width: 100%;
		max-width: 560px;
		padding: 0;
	}
	@media(max-width: 500px){
		width: 100%;
	}
}

.ande-integ-p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

.ande-integ-s{
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	color: #fff;
	margin-bottom: 25px;
	display: block;
	@media(max-width: 500px){
		font-size: 20px;
		line-height: 25px;
	}
}

.ande-integ-img{
	position: relative;
	margin-bottom: 35px;
	img{
		width: 100%;
		height: auto;
		margin-top: 5px;
	}
	@media(max-width: 860px){
		width: 100%;
		max-width: 530px;
		margin-bottom: 10px;
	}
}

.ande-integ-block{
	@media(max-width: 860px){
		&:first-child{
			margin-top: 0px;
		}
		margin-top: 30px;
	}
}

.ande-integ-text{
	padding-left: 50px;
	padding-right: 30px;
	@media(max-width: 1070px){
		padding: 0 15px;
	}
	ul{
		position: relative;
		margin: 0;
		padding: 0;
		list-style-image: url('../minimg/1ccrm/ande-list-png.png');
		margin-left: 20px;
		li{
			padding: 0;
			margin: 0;
			padding-left: 15px;
			margin-bottom: 15px;
		}
	}
}

.ande-teleowl-item,.ande-smatr-owl-img{
    a{
        display: block;
    }
}