.bookmarks-not-found{
    text-align: center;
    font-size: 20px;
}

.bookmarks-product{
    position: relative;
}

.bookmark-remove{
    width: 9px;
    height: 9px;
    background: url(../img/bookmark-remove.svg);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}