.icon-contact3{
    width: 41px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAgCAMAAABJuvqBAAAAAXNSR0IB2cksfwAAAFFQTFRFAAAA/68A/7AA/7AA/68A/7EA/7AA/7EA/7EA/7EA/7AA/7AA/7IA/68A/7EA/7AA/7EA/68A/7AA/7EA/7EA/7IA/7MA/7EA/7AA/7EA/7EArPI+HAAAABt0Uk5TAECf7yB/3//AX6/wYDCP4NAQz7CgcFCAv2+QjuVuHgAAAWJJREFUeJyNk1uWgyAQRBsxFAYREQTj/hc6oCYhPpKpD+VwivZ2lxD9FKv4T099E4D8YWruABTabx7dcdMDPYO99NhmgGsrwFvvr0ysghlt4EAk4uGKWnlN9aSgElVQF9SyTTAPLgel04abT6nnOi8mNQ59RrfQJ9Qrxw0z435psDUn1OtyMKzN8FnDeKBei3aItlPbSGvUe+pFQfTa3tUTKPY76rXUXY1Ur/CLxFZVoWi44bImvcEvRZ5B2RnVViwNNJ1tUUB79+Z3uOUzN+7Sq1NlNh9BMckfOk0hs5lymvugWoM5lSrhl2/ufw6N/OCf24egiMAoYJfyLqgsOVJUay8vTfFgmx25mHopjEVQLwVBMh0ORjTPrbE/uNJRK9gCpNb3O6gPKYY8uIpsVFM26tMbJX2aiR3ySKzPAc7uxEWRY3PREmB3fqMCei3e42Xy9EalHgS/vLiFDP7jIvfF9QdwGREdO2QyzgAAAABJRU5ErkJggg==);
}

.icon-contact2{
    width: 41px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAhCAMAAAD03JuvAAAAAXNSR0IB2cksfwAAAE5QTFRFAAAA/7IA/7AA/7AA/7EA/7EA/7MA/7AA/7EA/7EA/7AA/7EA/7EA/68A/7EA/68A/7EA/7AA/68A/7AA/68A/7IA/7EA/7AA/7AA/7IARccu2wAAABp0Uk5TAGCv3/9fUPDAkOCPoBCwQIDvML8gcNDPn09m+aTtAAABKElEQVR4nIVS0WKEIAwDzQA5EBTU2///6AoF5baH8aClJUkDFeK/JacZmKevX2k1Q5tlMRqzGvMLrGxAi9eYd77H3mG5ebCOcIfOZq0fC97OHcD86vXio7JBHDz/aFV6D1cLxpRvKDuH8GQES8eC84i1sLG2+VOwA9WOlHNCHqiauCzitb/cxHcc9Z+Po54XB3Y2cm6fBrezReG5Hb650MO1Y5nZ3XHW6SkYnZ9NbNdVm4sjr+36frNjnjpcuvIxpNVF3nZWBq771Qked9Y3eo83LfGEpl+V1c1mbdNvyv1pJfcaME3suSUaoJB1CwyRj7nHZEmdWqiEd7u48Eb69qXFgIvmdgUSzbNMwErze5GYAc2tFz7Snk5ECml+kcRpulFp+2QLZc4fROsL9MUV6X8AAAAASUVORK5CYII=);
}

.icon-contact1{
    width: 41px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAMAAABgOjJdAAAAAXNSR0IB2cksfwAAAFFQTFRFAAAA/7AA/7AA/7AA/7EA/68A/7EA/7EA/7EA/7EA/7AA/7IA/7MA/7AA/7EA/7EA/7AA/7AA/68A/7IA/68A/7EA/7EA/7AA/68A/7EA/7EANyiVswAAABt0Uk5TAO/fn18QgND/f69gUM+gkOC/IHAwwLDwQI9v/4Vu/QAAAUBJREFUeJyVksuCgyAMRQEL3krBF0g7//+hI0QUGLuYLJTE401Cwtj/jYvucROW11H1gHjK+vMADEVI6h78VQIGdoSp/npN6EpAM6YbRNorMEegQJZcDwwdVig6HIgD79yBUCI/ZWENG+XXDeiSnEUqF/7MbUHvZSM5OXFZE3O45BLyShV4k8NdrujMyCaRpGUGbNHtBpdAHZVSs2ysALZQ2fEpw0w9cVYZ+b1IPzvKrCpiRbw61Sc9Eum5KwlZeBbv+HKhnkxJB1Newp3l0agj3415yrPnm0nlk0dz5eE08xHCpY3ZbJPSZV8HPBcT76mt6tqffY/pdr8iTHvVhk5/YbVpjI3P3w2SV+osN+BTR66VOkxuEKXMTzPMaGvAfDIj+j/ALqOA+ZFaeGK7H9NiA2CGQcB/m+PelfVArw/vF1nDDhI968PsAAAAAElFTkSuQmCC);
}
.icon-download{
    width: 15px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAAXNSR0IB2cksfwAAACRQTFRFAAAAMDQ8MTY/MDY+MDU/MTU9MTY/MDBAMTY/MTU/MDVAMDU9fGioVAAAAAx0Uk5TAED/gJ8/0BDg8DBghdFLGgAAADdJREFUeJxjYEACQspEMFQCwDSbklICmMHepFkAkVqpBVXDuAFEMilASSwMJTBQAJkCAgkM9AIAnO8Hl3FN+woAAAAASUVORK5CYII=);
}
