.faq h2{
	margin-bottom: 40px;
}


.faq__q:before{
	background-position: 3px 3px;
}
.faq__q.active:before{
	background-position: 3px 7px;
}





.resh-item-desc:after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 1px;
    background-color: #d7d5d9;
}


.single-solutions-img{
	min-height: 400px;
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	padding-left: 60px;
	padding-right: 100px;
	padding-bottom: 30px;
}

.single-solutions-icon{
	width: 56px;
	height: 56px;
	border: 1px solid #ffffff;
	border-radius: 100%;
	position: relative
}
.single-solutions-icon img,.main-content-left.kb-content .single-solutions-icon img{
	width: 51% !important;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.main-content-left .single-solutions-img h1{
	margin-bottom: 20px;
	color: #fff;
}


.main-content-left .single-solutions-img h1 span{
	color: #ffb100;
}

.main-content-left .single-solutions-img p{
	color: #ffffff;
}

.main-content-left.kb-content.solutions-content .resh-item{
	text-align: left;
	width: 100%;
	border: 0;
	padding: 0;
}

.main-content-left.kb-content.solutions-content ul{
	padding-left: 65px;
}
.main-content-left.kb-content.solutions-content ul li{
	margin-bottom: 14px;
}


.main-content-left a.tab-link{
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	color: #7f8890;
	display: inline-block;
	margin: 0 15px;
	padding: 26px 0;
	margin-top: -1px;
	border-top: 3px solid transparent;
}
.main-content-left a.tab-link:hover,
.main-content-left a.tab-link:focus{
	text-decoration: none;
}

.main-content-left a.tab-link.active{
	color: #263139;
	border-color: #ff8a00;
	text-decoration: none;
}

.solutions-tab{
	border: 1px solid #e6e6e6;
	padding: 40px;
	max-width: 730px;
	margin: 0 auto;
}
.main-content-left .solutions-tab h3{
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 10px;

}


.solutions-tab-table .row:nth-child(2n+1){
	background-color: #f2f2f2;
}

.solutions-tab-table .row{
	padding: 5px 0;
}

.solutions-tab-table .col-md-6{
	color: #263139;
	font-size: 14px;
	font-weight: 300;
}
.solutions-tab-table .col-xs-4{
	font-weight: 700;
	padding-left: 75px;
}

.solutions-tab-btn{
	color: #333333;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	display: inline-block;
	padding: 6px 15px;
}

.icon-view2{
	background: url(../img/icon-view.svg);
	background-size: cover;
	width: 20px;
	height: 10px;
	margin-right: 2px;
}
.solutions-tab-table{
	margin-bottom: 16px;
}
.solutions-tab-total{
	float: right;
	color: #fb7104;
	color: #666666;
	font-size: 14px;
	font-weight: 700;
}
.solutions-tab-total strong{
	color: #fb7104;
	font-size: 20px;
	margin-left: 15px;
}


.solutions-slide{
	padding-left: 75px;
	position: relative;
	text-align: left;
}
.solutions-slide img{
	position: absolute;
	left: 0;
	top: 0;
}
.solutions-slider{
	margin-top: 20px;
}
.main-content-left.kb-content.solutions-content .solutions-slide h4{
	color: #ff8a00;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 4px;
}
.main-content-left.kb-content.solutions-content .solutions-slide p{
	color: #7f8890;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	margin-top: 0;
}

.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSPager.lSpg{
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
	margin-top: 0;
}
.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSPager.lSpg li{
	margin-bottom: 0;
	margin-top: 0;
}
.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSPager.lSpg li:before{
	display: none;
}
.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSPager.lSpg li a{
	width: 9px;
	height: 9px;
	border: 1px solid #7f8890;
	background: transparent;
}
.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSPager.lSpg li.active a{
	background-color: #ff8a00;
	box-shadow: 0 0 0 2.5px #ff8a00;
	border-color: #ff8a00;
}
.main-content-left.kb-content.solutions-content  .solutions-slider-cont .lSSlideWrapper{
	margin-bottom: 40px;
}
.solutions-slider-cont{
	text-align: center;
	margin-bottom: 50px;
}
.solutions-prev,.solutions-next{
	vertical-align: middle;
	display: inline-block;
	width: 15px;
	height: 26px;
	background-size: cover;
	cursor: pointer;
}

.solutions-prev{
	background: url(../img/arr-back.svg);
}

.solutions-next{
	background: url(../img/arr-next.svg);
}

.solutions-step{
	padding: 20px;
	padding-left: 100px;
	border: 1px solid #efefef;
	background-color: #f9f9f9;
	position: relative;
}
.solutions-step strong{
	color: #263139;
}
.main-content-left.kb-content.solutions-content .solutions-step p{
	color: #7f8890;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	margin-top: 14px;
}
.main-content-left.kb-content.solutions-content .solutions-step h4{
	color: #263139;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}
.solutions-step-number{
	position: absolute;
    top: 32px;
    left: 15px;
    color: #ffb100;
    font-size: 60px;
    font-weight: 300;
    line-height: 30px;
}