.icon-teamphone{
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAxklEQVQ4y52SPQ5BQRSFv5EoxBIswApugliERC16kVBahY7VqImcDaBnA0JBQeGS8eLnzTvV3DOZb86dueCS1KCASn54BqwkVZIBksrAwOtFkQTVqG5J6iS3kNEkFXDKeP0kgJldgXXkHYu0EN+6TwaY2TZO4d+alACgFa0HkkZ5ACEufJDOkbUE2mZ2ywVwSB3YZOwm0OMxcHNg+ISGT1Sfzsuf9HUz24Vvu5ICMAamPyDdwB95muEHUM3MDnke+i2VJ3vpDmU9PeJ7tnW9AAAAAElFTkSuQmCC);
}

.icon-teammail{
    width: 16px;
    height: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAA00lEQVQoz51Su24DMQwTjQJB+wldsiRDxqAHzf2XXL7q7ouoD8jQLpk6diiQjMxiAcb1gjy02KJFWqYMkj2AwZ4ISWuYmT0jImnt7t+FZO/uo6T9o2SSfQEwkNzdKyJpn2QAQzEzAzDeI1LJY/vkkocAxojYXhNpyKvWrzIp+jAzm4okuaafLedl7oYUIWm5j4itpL/EswtEhCbtfbVO1zH/w9MH5BjboqarNwALM/ttcQDvXdf9kOzzI70COM0Yf6zrcopL2rj7GZV8mCm6FUdJmwtPnK0cV4wStwAAAABJRU5ErkJggg==);
}