.header-transit {
  background-image: url(../minimg/voxdistro/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 170px;
  padding-bottom: 180px;
  border-bottom: 2px solid #f57c00; }
  @media (max-width: 1400px) {
    .header-transit {
      padding-top: 140px; } }
  @media (max-width: 500px) {
    .header-transit {
      padding-top: 120px;
      padding-bottom: 150px; } }

.h1-transit {
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 1400px) {
    .h1-transit {
      font-size: 60px;
      line-height: 70px; } }
  @media (max-width: 800px) {
    .h1-transit {
      font-size: 40px;
      line-height: 50px;
      padding: 0 15px; } }
  @media (max-width: 500px) {
    .h1-transit {
      font-size: 30px;
      line-height: 35px; } }
  @media (max-width: 400px) {
    .h1-transit br {
      display: none; } }

.kpi4 {
  padding-bottom: 100px; }
  @media (max-width: 970px) {
    .kpi4 {
      margin-bottom: -70px;
      padding-bottom: 30px; } }
  @media (max-width: 490px) {
    .kpi4 {
      padding-top: 50px; } }

.kpi4-row {
  display: flex;
  flex-wrap: wrap; }

.kpi4-item {
  width: 25%;
  padding: 0 15px;
  position: relative; }
  .kpi4-item:first-child:before {
    width: 200px;
    height: 200px;
    background-color: #f2f4f9;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    position: absolute;
    z-index: 1; }
  .kpi4-item:first-child:after {
    width: 70px;
    height: 166px;
    content: "";
    position: absolute;
    background: url(../minimg/kpi/kpi4.png);
    z-index: 3;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -52px; }
  .kpi4-item:first-child div {
    position: relative;
    z-index: 2;
    color: #484846;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 100px;
    padding-top: 30px; }
  .kpi4-item img {
    display: block;
    margin: 0 auto 29px; }
  .kpi4-item p {
    color: #484846;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }
  @media (max-width: 970px) {
    .kpi4-item {
      width: 50%;
      margin-bottom: 70px; } }
  @media (max-width: 490px) {
    .kpi4-item {
      width: 100%; } }

.stages-survey {
  background-color: #f1f4f9;
  padding: 1px 15px 200px; }
  .stages-survey p {
    color: #7f8890;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .stages-survey h2 {
    color: #263139;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  @media (max-width: 960px) {
    .stages-survey {
      padding-bottom: 30px; } }
  @media (max-width: 600px) {
    .stages-survey {
      padding-top: 0px; }
      .stages-survey h2 {
        font-size: 30px;
        line-height: 33px; } }

.stages-survey-circle {
  width: 361px;
  height: 361px;
  border: 1px solid rgba(127, 136, 144, 0.3);
  margin: 0 auto;
  border-radius: 100%;
  margin-top: 145px;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%; }
  .stages-survey-circle:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 490px;
    border: 1px solid rgba(127, 136, 144, 0.1);
    border-radius: 100%; }
  @media (max-width: 1190px) {
    .stages-survey-circle {
      transform: scale(0.8); } }
  @media (max-width: 960px) {
    .stages-survey-circle {
      background: none;
      transform: scale(1);
      width: 100%;
      height: auto;
      border: 0;
      border-radius: 0;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0; }
      .stages-survey-circle:after {
        display: none; } }

.ssc-inner-text {
  color: #263139;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  max-width: 310px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .ssc-inner-text p {
    color: #7f8890;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none; }
  .ssc-inner-text h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  @media (max-width: 960px) {
    .ssc-inner-text {
      position: static;
      transform: none;
      max-width: unset;
      flex: 0 0 100%; } }
  @media (max-width: 600px) {
    .ssc-inner-text {
      font-size: 20px;
      line-height: 28px; } }

.ssc-item {
  position: absolute;
  padding-right: 163px;
  left: -413px;
  color: #7f8890;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  max-width: 403px; }
  .ssc-item img {
    width: 40px;
    height: auto;
    content: "";
    position: absolute;
    right: 98px;
    top: -12px; }
  .ssc-item:nth-child(n + 7) {
    right: -413px;
    left: auto;
    padding-left: 163px;
    padding-right: 0;
    text-align: left; }
    .ssc-item:nth-child(n + 7) img {
      right: auto;
      left: 98px; }
  @media (max-width: 960px) {
    .ssc-item {
      position: relative;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      bottom: auto !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
      padding-top: 80px !important;
      text-align: center !important;
      transform: none !important;
      width: 50% !important;
      max-width: 320px !important; }
      .ssc-item img {
        right: auto !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 30px !important; } }
  @media (max-width: 460px) {
    .ssc-item {
      width: 100% !important;
      max-width: 100% !important; } }

.ssc-item1, .ssc-item3, .ssc-item8, .ssc-item6 {
  top: -15px;
  min-width: 403px; }
  .ssc-item1 .ssc-inner-arr, .ssc-item3 .ssc-inner-arr, .ssc-item8 .ssc-inner-arr, .ssc-item6 .ssc-inner-arr {
    width: 118px;
    height: 91px;
    background: url(../minimg/stages/line1.png);
    right: -26px;
    top: 8px; }
    .ssc-item1 .ssc-inner-arr:after, .ssc-item3 .ssc-inner-arr:after, .ssc-item8 .ssc-inner-arr:after, .ssc-item6 .ssc-inner-arr:after {
      right: -10px;
      bottom: -12px; }
  @media (max-width: 960px) {
    .ssc-item1, .ssc-item3, .ssc-item8, .ssc-item6 {
      min-width: unset; } }

.ssc-item2, .ssc-item7 {
  top: 173px;
  min-width: 403px; }
  .ssc-item2 .ssc-inner-arr, .ssc-item7 .ssc-inner-arr {
    width: 91px;
    height: 1px;
    background: url(../minimg/stages/line2.png);
    right: 0px;
    top: 8px; }
    .ssc-item2 .ssc-inner-arr:after, .ssc-item7 .ssc-inner-arr:after {
      right: -13px;
      bottom: -3.5px; }
  @media (max-width: 960px) {
    .ssc-item2, .ssc-item7 {
      min-width: unset; } }

.ssc-item3, .ssc-item8 {
  top: 356px; }
  .ssc-item3 .ssc-inner-arr, .ssc-item8 .ssc-inner-arr {
    top: -83px;
    transform: rotateX(180deg); }

.ssc-item4, .ssc-item9 {
  top: 475px;
  min-width: 403px;
  display: none; }
  .ssc-item4 .ssc-inner-arr, .ssc-item9 .ssc-inner-arr {
    width: 197px;
    height: 133px;
    background: url(../minimg/stages/line3.png);
    right: -105px;
    top: -126px; }
    .ssc-item4 .ssc-inner-arr:after, .ssc-item9 .ssc-inner-arr:after {
      right: -12px;
      top: -12px;
      bottom: auto; }
  @media (max-width: 960px) {
    .ssc-item4, .ssc-item9 {
      min-width: unset; } }

.ssc-item5 {
  display: none;
  top: 468px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 0;
  text-align: center;
  min-width: 530px;
  width: 100%;
  padding-top: 70px; }
  .ssc-item5 img {
    left: 50%;
    top: 0;
    transform: translateX(-50%); }
  .ssc-item5 .ssc-inner-arr {
    width: 91px;
    height: 1px;
    background: url(../minimg/stages/line2.png);
    top: -53px;
    left: 50%;
    transform: rotate(90deg) translateY(50%);
    margin-left: -46px; }
    .ssc-item5 .ssc-inner-arr:after {
      right: auto;
      left: -19px;
      transform: translateX(50%);
      top: -3px;
      bottom: auto; }
  @media (max-width: 960px) {
    .ssc-item5 {
      min-width: unset;
      width: 50%; } }

.ssc-item6 .ssc-inner-arr {
  transform: rotateY(180deg);
  right: auto;
  left: -26px; }

.ssc-item7 .ssc-inner-arr {
  transform: rotateY(180deg);
  right: auto;
  left: 0px; }

.ssc-item8 .ssc-inner-arr {
  transform: rotateY(180deg) rotateX(180deg);
  right: auto;
  left: -26px; }

.ssc-item9 .ssc-inner-arr {
  transform: rotateY(180deg);
  right: auto;
  left: -105px; }

.ssc-inner-arr {
  position: absolute; }
  .ssc-inner-arr:after {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffc527;
    content: "";
    border-radius: 100%;
    box-shadow: 0 0 0 4px #ffc52752, 0 0 0 6px #ffc5272; }
  @media (max-width: 960px) {
    .ssc-inner-arr {
      display: none; } }

.ishod-bez {
  padding: 60px 0; }
  @media (max-width: 1110px) {
    .ishod-bez {
      padding: 20px 0; } }

.ishod-bez-container {
  display: flex;
  flex-wrap: wrap; }

.ishod-bez-item {
  flex: 0 0 50%;
  padding: 0 15px; }
  .ishod-bez-item:last-child {
    display: flex;
    align-items: center; }
  .ishod-bez-item h2 {
    color: #263139;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase; }
  .ishod-bez-item p {
    color: #7f8890;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-left: 100px;
    margin-top: 30px; }
    .ishod-bez-item p:after {
      position: absolute;
      display: block;
      content: '';
      width: 70px;
      height: 2px;
      background-color: #ffb100;
      top: 11px;
      left: 0; }
  .ishod-bez-item img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .ishod-bez-item a {
    margin: 0 auto;
    display: block;
    text-align: center; }
  @media (max-width: 750px) {
    .ishod-bez-item {
      flex: 0 0 100%;
      padding: 0 15px;
      text-align: center; }
      .ishod-bez-item h2 {
        font-size: 30px;
        line-height: 35px; }
        .ishod-bez-item h2 br {
          display: none; }
      .ishod-bez-item p {
        padding-left: 0;
        margin-top: 10px; }
        .ishod-bez-item p:after {
          display: none; }
        .ishod-bez-item p br {
          display: none; }
      .ishod-bez-item:first-child {
        order: 2;
        margin-top: 30px; }
      .ishod-bez-item:last-child {
        order: 1;
        justify-content: center; }
      .ishod-bez-item h2 {
        font-size: 24px;
        line-height: 28px; }
      .ishod-bez-item:first-child {
        margin-top: 20px; } }

.autoconfig3 {
  background-color: #f2f4f9;
  padding: 100px 0; }
  .autoconfig3 h2 {
    color: #263139;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 130px; }
    .autoconfig3 h2 > span {
      position: relative; }
      .autoconfig3 h2 > span:before {
        content: "";
        width: 95%;
        height: 6px;
        background-color: #fdb100;
        position: absolute;
        bottom: 12px;
        left: 0; }
      .autoconfig3 h2 > span span {
        position: relative;
        z-index: 2; }
  @media (max-width: 960px) {
    .autoconfig3 {
      padding: 30px 0; }
      .autoconfig3 h2 {
        font-size: 29px;
        line-height: 32px;
        margin-bottom: 60px; }
      .autoconfig3 > span:before {
        bottom: 8px; } }
  .autoconfig3.autoconfig3-white {
    background-color: #fff; }

.autoconfig3-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 150px; }
  @media (max-width: 960px) {
    .autoconfig3-row {
      margin-bottom: 100px; } }

.autoconfig3-item {
  width: 33.3333333%;
  padding: 0 15px;
  text-align: center; }
  .autoconfig3-item > div {
    box-shadow: 0 10px 30px rgba(127, 136, 144, 0.3);
    background-color: #ffffff;
    height: 100%;
    padding: 0 15px 50px; }
  .autoconfig3-item img {
    margin-top: -30px;
    max-width: 100%; }
  .autoconfig3-item p {
    color: #263139;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
    min-height: 72px; }
  .autoconfig3-item span {
    width: 30px;
    height: 30px;
    background-color: #ffc527;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin-top: 25px;
    line-height: 30px;
    color: #000000;
    font-size: 12px;
    font-weight: 300; }
  @media (max-width: 700px) {
    .autoconfig3-item {
      width: 50%;
      margin-bottom: 60px; }
      .autoconfig3-item:last-child {
        width: 100%;
        margin-bottom: 0; } }
  @media (max-width: 450px) {
    .autoconfig3-item {
      width: 100%; }
      .autoconfig3-item p {
        min-height: unset; } }

.autoconfig3-white .autoconfig3-row {
  margin-bottom: 0; }
.autoconfig3-white .autoconfig3-item div {
  box-shadow: none;
  padding-bottom: 0; }
.autoconfig3-white .autoconfig3-item p {
  font-size: 16px; }

.stages-tz {
  background: url(../minimg/stages/stzbg.jpg);
  padding: 100px 0; }
  @media (max-width: 739px) {
    .stages-tz {
      padding: 30px 0; } }

.stz-container {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 1088px) {
    .stz-container {
      max-width: 800px;
      margin: 0 auto; } }

.stz-item {
  width: 33.333333%;
  padding: 0 15px; }
  .stz-item.col12 {
    width: 100%;
    margin-top: 100px; }
  .stz-item h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .stz-item p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; }
  .stz-item img {
    border-radius: 6px;
    position: relative;
    z-index: 2;
    max-width: 100%; }
  .stz-item h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    background-color: #ffc527;
    text-transform: none;
    padding: 4px 35px;
    margin-left: -100px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px; }
  .stz-item h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px; }
  .stz-item ul {
    color: #b0abb3;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 60px; }
    .stz-item ul li {
      margin-bottom: 15px;
      padding-left: 30px;
      position: relative; }
      .stz-item ul li:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid #ffb100;
        border-radius: 100%;
        left: 0px;
        top: 8px; }
      .stz-item ul li:last-child {
        margin-bottom: 0; }
  .stz-item:nth-child(2) {
    position: relative; }
    .stz-item:nth-child(2):after {
      width: 100px;
      height: 3px;
      background-color: #ffc527;
      content: "";
      position: absolute;
      right: -55px;
      bottom: 120px; }
  .stz-item:nth-child(3) {
    position: relative;
    z-index: 3; }
  @media (max-width: 1088px) {
    .stz-item:nth-child(1) {
      width: 100%;
      margin-bottom: 30px; }
    .stz-item:nth-child(2), .stz-item:nth-child(3) {
      width: 50%; }
      .stz-item:nth-child(2) img, .stz-item:nth-child(3) img {
        width: 100%; } }
  @media (max-width: 739px) {
    .stz-item:nth-child(2), .stz-item:nth-child(3) {
      width: 100%; }
      .stz-item:nth-child(2) img, .stz-item:nth-child(3) img {
        display: none; }
      .stz-item:nth-child(2):after, .stz-item:nth-child(3):after {
        display: none; }
    .stz-item h2 {
      font-size: 21px;
      line-height: 26px; }
    .stz-item h3 {
      margin-top: 0;
      margin-left: 0; }
    .stz-item ul {
      margin-bottom: 30px; }
    .stz-item.col12 {
      margin-top: 30px; } }
  @media (max-width: 462px) {
    .stz-item h3 {
      font-size: 17px;
      padding: 4px 15px; }
    .stz-item h4 {
      font-size: 18px; } }

.stz-icon-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (max-width: 739px) {
    .stz-icon-block {
      justify-content: center; } }

.stz-img {
  width: 119px;
  height: 119px;
  background-color: #ffb100;
  margin-left: 50px;
  border-radius: 100%;
  position: relative; }
  .stz-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .stz-img:after {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    border: 1px solid rgba(255, 177, 0, 0.4);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%; }
  .stz-img:before {
    content: "";
    position: absolute;
    width: 219px;
    height: 219px;
    border: 10px solid rgba(255, 177, 0, 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%; }
  @media (max-width: 739px) {
    .stz-img {
      margin: 40px 0px 60px; } }

.stz-text {
  flex: 1;
  padding-left: 131px; }
  @media (max-width: 739px) {
    .stz-text {
      padding-left: 0;
      flex: 0 0 100%; } }

.ishod-uznat {
  padding: 43px 0;
  background-image: url(../minimg/bg-ishod-usnat.jpg);
  background-repeat: repeat; }

.ishod-uznat-container {
  display: flex; }
  @media (max-width: 1250px) {
    .ishod-uznat-container {
      flex-wrap: wrap; } }

.ishod-uznat-item {
  flex: 0 0 50%; }
  .ishod-uznat-item:first-child {
    display: flex;
    align-items: center; }
  .ishod-uznat-item h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0; }
  .ishod-uznat-item p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 30px; }
    .ishod-uznat-item p a {
      color: #ffb100;
      font-weight: 700;
      line-height: 24px;
      text-decoration: underline; }
      .ishod-uznat-item p a:hover {
        text-decoration: none; }
    .ishod-uznat-item p span {
      font-weight: 700; }
  .ishod-uznat-item h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
    letter-spacing: 0; }
  .ishod-uznat-item .btn-uznat {
    margin-top: 40px; }
  @media (max-width: 1450px) {
    .ishod-uznat-item:last-child img {
      width: 100%; } }
  @media (max-width: 1250px) {
    .ishod-uznat-item {
      flex: 0 0 100%;
      padding: 0 15px;
      text-align: center; }
      .ishod-uznat-item h3 br {
        display: none; }
      .ishod-uznat-item p {
        margin-top: 15px; }
        .ishod-uznat-item p br {
          display: none; }
      .ishod-uznat-item h4 {
        margin-top: 5px; }
        .ishod-uznat-item h4 br {
          display: none; }
      .ishod-uznat-item .block-yellow-text {
        margin-top: 10px; }
      .ishod-uznat-item .btn-uznat {
        margin-top: 20px; }
      .ishod-uznat-item:first-child {
        display: block; }
      .ishod-uznat-item:last-child {
        display: none; } }
  @media (max-width: 500px) {
    .ishod-uznat-item h3 {
      font-size: 24px;
      line-height: 28px; } }

.vd2-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.vd2-item {
  width: 50%; }
  .vd2-item:first-child {
    display: flex;
    justify-content: flex-end;
    padding: 100px 0;
    color: #484846;
    font-size: 16px;
    font-weight: 300; }
    .vd2-item:first-child > div {
      padding: 0 15px;
      max-width: 600px; }
  .vd2-item img {
    max-width: 100%; }
  .vd2-item h2 {
    color: #263139;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px; }
    .vd2-item h2 span {
      color: #263139;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      display: block;
      margin-top: 5px; }
  .vd2-item p {
    margin: 30px 0; }
  .vd2-item p.strong {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px; }

/*# sourceMappingURL=voxdistro.css.map */
